<a href="https://colab.research.google.com/github/Ezemettler/Curso-git-github/blob/main/repaso_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [24]:
from google.colab import drive
drive.mount('/gdrive')

data = pd.read_csv('/gdrive/MyDrive/Formación/Henry/M1/Repaso challenge/data.csv', encoding='latin-1', decimal='.')
data.head(4)

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,fullVisitorID,visitNumber,date,bounces,hits,pageviews,timeOnSite,transactionRevenue,transactions,source,channelGrouping,browser,deviceCategory,country,city
0,8533875475515924645,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Australia,Sydney
1,4874599869430831185,2,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,mobile,Turkey,Istanbul
2,361954421372951638,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Russia,Moscow
3,8751850432978942600,2,20170205,1.0,1,1.0,NaN,NaN,NaN,bing,Organic Search,Edge,desktop,United States,not available in demo dataset

In [25]:
# 1. Esta función debe informar la cantidad de registros de la columna country que pertenezcan a Turkey retornando ese valor en un dato de tipo entero

data. loc [ data ['country'] == 'Turkey' ,  'country'] . count()

3765

In [26]:
# 2. Esta función debe eliminar las columnas 'fullvisitorID' y luego informar la cantidad de columnas, retornando ese valor en un dato de tipo entero.

data.shape[1]

15

In [27]:
'''
Esta es otra opcion:
data.drop(['fullVisitorID'], axis='columns', inplace=True)
data.shape[1] '''

data.drop(['fullVisitorID'], inplace=True, axis=1)
data.shape[1]

14

In [28]:
data.head(2)

,visitNumber,date,bounces,hits,pageviews,timeOnSite,transactionRevenue,transactions,source,channelGrouping,browser,deviceCategory,country,city
0,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Australia,Sydney
1,2,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,mobile,Turkey,Istanbul

In [63]:
# 3. Esta función debe informar la cantidad de registros sin tener en cuenta aquellos con valores faltantes, retornando ese valor en un dato de tipo entero.

data3 = pd.read_csv('/gdrive/MyDrive/Formación/Henry/M1/Repaso challenge/data.csv', encoding='latin-1', decimal='.')
data3.head(3)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,fullVisitorID,visitNumber,date,bounces,hits,pageviews,timeOnSite,transactionRevenue,transactions,source,channelGrouping,browser,deviceCategory,country,city
0,8533875475515924645,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Australia,Sydney
1,4874599869430831185,2,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,mobile,Turkey,Istanbul
2,361954421372951638,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Russia,Moscow

In [64]:
# Cant total de registros (filas)
data3.shape[0]

392892

In [66]:
data3.isna().sum().max()

387615

In [69]:
data3.isna().sum()

fullVisitorID              0
visitNumber                0
date                       0
bounces               196928
hits                       0
pageviews                 36
timeOnSite            196493
transactionRevenue    387615
transactions          387615
source                     0
channelGrouping            0
browser                    0
deviceCategory             0
country                    0
city                       0
dtype: int64

In [68]:
total = data3.shape[0] - data3.isna().sum().max()
total

5277

In [70]:
'''
la columna bounces refiere a paginas rebotadas, si esta en 1 es por que la persona entro a la pagina por error y salio rapidamente, 
y la columna TimeOnsite refiere al tiempo del usuario en la pagina. 

Crear una columna que se llame 'tiempo_real' que contenga la multiplicacion de las columnas anteriores con el valor real, 
redondeado a 2 decimales (Ejemplo: 25.189 - > 25.19), retornando ese valor en un dato de tipo float '''

data4 = pd.read_csv('/gdrive/MyDrive/Formación/Henry/M1/Repaso challenge/data.csv', encoding='latin-1', decimal='.')
data4.head(3)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,fullVisitorID,visitNumber,date,bounces,hits,pageviews,timeOnSite,transactionRevenue,transactions,source,channelGrouping,browser,deviceCategory,country,city
0,8533875475515924645,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Australia,Sydney
1,4874599869430831185,2,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,mobile,Turkey,Istanbul
2,361954421372951638,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Russia,Moscow

In [71]:
data4.isna().sum()

fullVisitorID              0
visitNumber                0
date                       0
bounces               196928
hits                       0
pageviews                 36
timeOnSite            196493
transactionRevenue    387615
transactions          387615
source                     0
channelGrouping            0
browser                    0
deviceCategory             0
country                    0
city                       0
dtype: int64

In [76]:
data4.bounces.fillna(0, inplace=True)

In [78]:
data4.timeOnSite.fillna(0, inplace=True)

In [79]:
data4.isna().sum()

fullVisitorID              0
visitNumber                0
date                       0
bounces                    0
hits                       0
pageviews                 36
timeOnSite                 0
transactionRevenue    387615
transactions          387615
source                     0
channelGrouping            0
browser                    0
deviceCategory             0
country                    0
city                       0
dtype: int64

In [80]:
# prueba para ver si se ve en github